*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #f2f2f2;
}

div.container {
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: space-around;
    background-color: #ffffff;
    margin: auto auto;
}

div.container .action-btn{
     align-items: flex-end;
     justify-content: space-around;
}

div form input{
    line-height: 20px;
}
